/*BASIC SETUP*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	background-color: #0e1111;
	padding: 0 0 0 0;
	scroll-behavior: smooth;
	position: relative;
	color: #D0D0D0;
	font-family: 'Lato', 'Arial', 'consolas';
	font-weight: 300;
	font-size: 21px;
	text-rendering: optimizeLegibility;
	text-align: justify;
	overflow-x: hidden;
}

/* REUSEABLE COMPONENTS*/
section {

	padding: 50px 0;
}

.box{
	padding: 1%;
}


.row{
	max-width: 1140px;
	margin: 0 auto;
}

/*HEADER*/

header{
	position: relative;
	font-size: 120%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0,0, 0.7)), url(img/header-image.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat-y;
}

.introduction{
	position: absolute;
	top: 50%;
	left: 20%;
	width: 1140px;
	animation: fadeInRight;
	animation-duration: 1s;
}
.introduction span{
	color: #cf6d17;
	font-size: 180%;
}
.introduction p{
	font-size: 150%;
}

/*.typing p{
	animation: typing 2.6s steps(30, end);
}

@keyframes typing{
	from{
		width: 0;
	}

	to {
		width: 100%;
	}
}*/

/*NAVBAR*/
nav ul{
	float: right;
}
/*.navbar{
	float: right;
	list-style: none;
	margin-left: 45px;

}*/
nav ul li{
	display: inline-block;
	margin-right: 25px;
}
ul li a{
	margin-left: 30px;
	font-size: 18px;
	display: block;
	float: left;
}
li a{
	color: #cf6d17;
}
li a:link, nav li a:visited{
	text-decoration: none;
}

li a:hover{
	color: #D0D0D0;
	/*border-bottom: 1.5px solid #cf6d17;*/
}
.menu-toggle{
	color: #cf6d17;
	float: right;
	font-size: 30px;
	cursor: pointer;
	display: none;
}
/*BUTTON*/
.btn-ghost{
	font-size: 16px;
}
.btn-ghost:link, 
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color:#e67e22;
}

.btn-ghost:hover, 
.btn-ghost:active{
	border: 1px solid #cf6d17;
	color:#fff;
}

/*ABOUT*/
#about{
	margin-left: 10%;
	margin-right: 10%;
	/*border-bottom: 1px solid #404040;*/
}

#about .box{
	width: 100%;
}
.about-me{
	text-align: center;
}
.about-section p{
	line-height: 145%;
}
.about-details{
	text-align: left;
	margin-top: -25px;
}

/*ICONS*/
.icon-big:before{
	font-size: 300%;
	display: block;
	color: #cf6d17;
	text-align: center;
	margin-top: -10px;
}

/*STACK*/
#stacks{
	margin-left: 20%;
	margin-right: 20%;
	/*border-bottom: 1px solid #404040;*/
}

.project p{
	padding-top: -5px;
	margin-bottom: 25px; 
	text-align: center;
}

.images{
	text-align: center;
}

.stack-image{
	margin-bottom: 10px; 
	opacity: 0.7;
	width: 70%;
	height: 100%;
	border-radius: 30px;
	border: 2.5px solid #cf6d17;
	vertical-align: middle;

}

/*#project-id{border-bottom: 1px solid #404040;}*/
.project-font{font-family: 'Lato', 'Arial', 'consolas'}

.project h6{
	text-align: center;
	margin-top: 15px;
	color: #cf6d17;

}
.medium-link{
	/*font-size: 21px;*/
	color: #cf6d17;
}

.medium-link:hover{
	/*font-size: 21px;*/
	color: #D0D0D0;
	text-decoration: none;
}

.write{
	margin-top: 15px;
}

#contact{
	/*border-bottom: 1px solid #404040;*/
	/*margin-left: 20%;
	margin-right: 20%;*/
}

.phone-number, .whatsapp-number, .email-address{
color: #D0D0D0; 
font-size: 16px;
text-align: center;
}
 .twitter-link a{
 	font-size: 16px;
 	margin-left: 35%; 
 }

.twitter-link a:link, .twitter-link a:visited{
	color: #cf6d17;
	text-decoration: none;
}

.twitter-link a:hover{
	color: #D0D0D0;
	border-bottom: 1.5px solid #cf6d17;
}
.olamidun a{
	text-decoration: none;
}
footer{
	margin: 8px 0;
	text-align: justify;
}
.project-image-animate{
	border-radius: 30px;
	border: 1px solid #cf6d17;
}

/*ANIMATION*/
[aos="fade-right"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade-right"].aos-animate {
  opacity: 1;
}

[aos="fade-left"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade-left"].aos-animate {
  opacity: 1;
}
